.module
{
	width: 270px;
	height: 135px;
	margin: 0px 0px 10px 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: white;
	float: left;
	
	.title
	{
		height: 20px;
		border-bottom: 1px solid #ccc;
		border-radius: 10px 10px 0px 0px;
		text-align: center;
		padding: 3px 0px;
		font-weight: bold;
		background: #dde783;
	}
	
	.m_center
	{
		min-height: 60px;
		
		.image
		{
			min-width: 40px;
			float: left;
			margin: 5px 0px 0px 15px;
		}
		
		.admin
		{
			width: 207px;
			height: 95px;
			overflow-y: auto;
			margin: 10px 0px 0px 50px;
			
			ul
			{
				margin: 0 0 0 20px;
				padding: 0;
				list-style: none;
			}
		}
	}	
}