/* -------- Общие ------- */
*
{
	font-family: "Trebuchet MS";
	font-size: 16px;
}

BODY
{
	background-color: #f5ffe4; 
}

A
{
	text-decoration: none;
	color: blue;
}

DIV.clear
{
	clear:both;
}

/* -------- Основные блоки -------- */
#left
{
	border: 1px solid #ccc;
	width: 60px;
	height: 66px;
	float: left;
}

#right
{
	width: 26px;
	height: 66px;
	float: right;
}

#center
{
	margin: 0px 36px 0px 66px;
	height: 66px;
}

#primary
{
	border: 1px dashed #ccc;
	margin: 5px 0px 0px 0px;
	min-height: 550px;
	padding: 10px;
	position: relative;
}

#menu_top
{
	float: left;
}

#path
{
	position: absolute;
	left: 74px;
	top: 50px;
	
	
/*	float: left;
	margin: 9px 0px 0px 0px;*/
}

#mess_ok
{
	position: absolute;
	top: -40px;
	right: -1px;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 4px 5px 2px 10px;
	background-color: #f8de4c;
	display: none;
	z-index: 5;
}

/*--------- Верхнее меню ---------*/
#menu_top .menu
{
	width: 180px; 
	border: 1px solid #ccc; 
	border-radius: 5px;
	float: left;
	background-color: #edfac8;
	position: relative;
	margin: 0px 3px 3px 0px;
}

#menu_top .menu .title
{
	padding: 0px 0px 0px 7px; 
	margin-top: 2px;
	width: 114px;
	height: 26px;
	float: left;
	cursor: pointer;
}

#menu_top .list
{
	width: 26px;
	height: 26px;
	float: right;
	margin-top: 2px;
}

#menu_top .add
{
	width: 26px;
	height: 26px;
	float: right;
	margin-top: 2px;
}

#menu_top .install
{
	width: 26px;
	height: 26px;
	float: right;
	margin-top: 2px;
}

#menu_top .menu .podcat
{
	width: 206px;
	border: 1px solid #ccc; 
	border-radius: 5px;
	display: block;
	position: absolute;
	margin-left: -1px;
	z-index: 2;
	background-color: #edfac8;
	display: none;
	top: 28px;
}

#menu_top .menu .podcat a
{
	display: block;
	height: 21px; 
	overflow: hidden;
	cursor: pointer;
	color: #000;
	padding-left: 7px;
	padding-top: 2px;
	font-size: 14px;
}

#menu_top .menu .podcat a:hover
{
	background-color: #fff;
}

/*------------ Путь ------------ */
#path .trace
{
	min-width: 120px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 7px;
	padding: 2px 5px;
	overflow: hidden;
	white-space: nowrap;
	color: black;
	text-align: center;
	background-color: #f6e8b6;
}

#path .join
{
	display: block;
	float: left;
	width: 10px;
	margin: 12px 0px 0px 0px;
	border: 1px solid #ccc;
}

#path .trace:last-child
{
	background-color: #f6e39f;
	font-weight: bold;
}

#path .trace:hover
{
	background-color: #fff;
}

#path .trace:last-child:hover
{
	background-color: #f6e39f;
	cursor: none;
}

/* ----- Сообщение об удачном выполнении ------ */
#mess_ok DIV
{
	height: 26px;
}

#mess_ok DIV:nth-child(1)
{
	width: 26px;
	float: left;
}

#mess_ok DIV:nth-child(2)
{
	color: #ccc	;
	float: right;
	width: 15px;
	height: 20px;
	text-align: center;
	cursor: pointer;
}

#mess_ok DIV:nth-child(2):hover
{
	color: #000;
}

#mess_ok DIV:nth-child(3)
{
	margin: 0px 20px 0px 30px; 
}

/* ------- Форма ------- */
INPUT[type="text"]
{
	min-width: 350px;
	border: 1px solid #a19d9a;
	border-radius: 4px;
}

INPUT[type="password"]
{
	min-width: 350px;
	border: 1px solid #a19d9a;
	border-radius: 4px;
}

TEXTAREA
{
	min-width: 350px;
	min-height: 100px;
	border: 1px solid #a19d9a;
	border-radius: 4px;
}

/* ------- Список ------- */
TABLE.list
{
	width: 90%;
	clear: both;
	border-collapse: collapse;
}

TABLE.list THEAD TD
{
	text-align: center;
	border: solid 1px #c0c0c0;
	background-color: #e2eeb4;
}

TABLE.list TBODY TR
{
	background-color: #ffffff;
}

TABLE.list TBODY TR:nth-child(even)
{
	background-color: #eff0ec;
}

TABLE.list TBODY TR:hover
{
	background-color: #f9fac5;
}

TABLE.list TBODY TD
{
	text-align: center;
	border: solid 1px #ccc;
}

TABLE.list TBODY TD *
{
	vertical-align: middle;
}

TABLE.list TBODY TR .up,.down
{
	cursor: pointer;
}

/* ----- Форма ---- */

TABLE.forma
{
	width: 90%;
}

TABLE.forma TD
{
	padding: 10px 10px;
	vertical-align: top;
}

TABLE.forma td:nth-child(odd)
{
	text-align: right;
	width: 50%;
} 

TABLE.forma td:nth-child(even)
{
	text-align: left;
	width: 50%;
}

INPUT.sort
{
	width: 35px;
	text-align: right;
}

TABLE.forma SELECT
{
	min-width: 150px;
}

/* ---------- Ошибки --------- */
.error_mess
{
	color: #d90000;
	font-size: 13px;
}

/* ------ Общие стили -------- */
H2
{
	text-align: center;
	font-size: 18px;
}

/* ----- Кнопки ------ */
.knopka
{
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	display: inline-block;
	background-color: #e3e3e3;
	min-width: 120px;
	height: 22px;
	cursor: pointer;
	padding: 4px 10px 4px 6px;
	margin-left: 10px;
	margin: 5px 10px 5px 0px;
	color: #000;
	text-align: center;
}

.knopka:hover
{
	background-color: #f0f0f0;
}

.knopka DIV
{
	float: left;
	margin: 0px 5px 0px 0px;
}

/* ---------- Окна ------------- */
#load
{
	width: 220px;
	height: 19px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -110px;
	margin-top: -10px;
	z-index: 11;
	display: none;
}

#overlay
{
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #ccc;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.3;
	display: none;
}

#okno_delete
{
	width: 340px;
	height: 150px;
	
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -100px;
	
	border: 1px solid #000;
	border-radius: 20px;
	background-color: #fff;
	z-index: 11;
}

#okno_delete .str
{
	width: 308px;
	min-height: 64px;
	
	margin: 14px auto;
	text-align: center;
}

#okno_delete .knopka_all
{
	width: 316px;
	margin: 30px auto;
}

#okno_delete .knopka:nth-child(1)
{
	float: left;
	margin: 0px;
}

#okno_delete .knopka:nth-child(2)
{
	float: right;
	margin: 0px;
}

/* --------- Авторизация -------- */
#auth
{
	border: 1px dashed #ccc;
	border-radius: 10px;
	width: 400px;
	height: 140px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -70px 0px 0px -200px;
	padding: 10px;
}

#auth .container
{
	position: relative;
	margin-top: 28px;
}

#auth .name
{
	width: 188px;
	height: 28px;
	float: left;
	text-align: right;
	padding: 2px 10px 0px 0px;
}

#auth .pole
{
	width: 198px;
	height: 30px;
	float: left;
}

#auth INPUT
{
	min-width: 100px;
}

#auth .knopka
{
	margin: 20px 0px 0px 140px;
}

#auth .logo
{
	width: 60px;
	height: 66px;
	border: 1px solid #ccc;
	position: absolute;
	top: -28px;
	left: 0px;
}

#auth .load
{
	width: 32px;
	height: 32px;
	position: absolute;
	top: 79px;
	left: 104px;
	display: none;
}

#auth .error
{
	width: 320px;
	height: 20px;
	position: absolute;
	top: -28px;
	left: 70px;
	
	text-align: center;
	border: 1px solid #d90000;
	border-radius: 10px;
	color: #d90000;
	background-color: #fff;
	font-size: 14px;;
}