*
{
	font-family: "Verdana";
/*	font-size: 16px;*/
}

body
{
	padding: 0;
	margin: 0;
	background-color: #feffd0;
}

.div_menu
{
	border-right: solid 1px #000000;
	border-bottom: 1px solid #000000;
	float: left;
	width: 250px;
	text-align: center;
	cursor: pointer;
}