/*
	Icons from the site http://www.fatcow.com/free-icons
*/

.icon_list
{
	background: url("../img/icon.png") no-repeat 0px 0px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_add
{
	background: url("../img/icon.png") no-repeat -24px 0px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_edit
{
	background: url("../img/icon.png") no-repeat -48px 0px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_delete
{
	background: url("../img/icon.png") no-repeat -72px 0px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_active
{
	background: url("../img/icon.png") no-repeat -96px 0px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_deactive
{
	background: url("../img/icon.png") no-repeat -120px 0px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_up
{
	background: url("../img/icon.png") no-repeat -144px 0px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_down
{
	background: url("../img/icon.png") no-repeat 0px -24px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_view
{
	background: url("../img/icon.png") no-repeat -24px -24px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_warn
{
	background: url("../img/icon.png") no-repeat -48px -24px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_more
{
	background: url("../img/icon.png") no-repeat -72px -24px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_image
{
	background: url("../img/icon.png") no-repeat -96px -24px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_password
{
	background: url("../img/icon.png") no-repeat -120px -24px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_html
{
	background: url("../img/icon.png") no-repeat -144px -24px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_php
{
	background: url("../img/icon.png") no-repeat 0px -48px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_home
{
	background: url("../img/icon.png") no-repeat -24px -48px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_exit
{
	background: url("../img/icon.png") no-repeat -48px -48px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_help
{
	background: url("../img/icon.png") no-repeat -72px -48px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_bookmark
{
	background: url("../img/icon.png") no-repeat -96px -48px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_task
{
	background: url("../img/icon.png") no-repeat -120px -48px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_task_add
{
	background: url("../img/icon.png") no-repeat -144px -48px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_error
{
	background: url("../img/icon.png") no-repeat 0px -72px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_feedback
{
	background: url("../img/icon.png") no-repeat -24px -72px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_notice
{
	background: url("../img/icon.png") no-repeat -48px -72px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_settings
{
	background: url("../img/icon.png") no-repeat -72px -72px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_notification
{
	background: url("../img/icon.png") no-repeat -96px -72px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_install
{
	background: url("../img/icon.png") no-repeat -120px -72px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_back
{
	background: url("../img/icon.png") no-repeat -144px -72px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_login
{
	background: url("../img/icon.png") no-repeat 0px -96px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_eye
{
	background: url("../img/icon.png") no-repeat -24px -96px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_folder
{
	background: url("../img/icon.png") no-repeat -48px -96px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_rename
{
	background: url("../img/icon.png") no-repeat -72px -96px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_house
{
	background: url("../img/icon.png") no-repeat -96px -96px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon_download
{
	background: url("../img/icon.png") no-repeat -120px -96px;
	display: inline-block;
	width: 24px;
	height: 24px;
}