/* Структура */
.top 
{
	height: 95px;
}

.top > .zn_logo
{
	width: 58px;
	height: 66px;
	float: left;
	border: 1px solid #ccc;
}

.top > .center
{
	height: 66px;
	margin: 0px 64px 0px 62px;
	position: relative;
}

.top > .center > .zn_menu
{
	height: 30px;
}

.top > .center > .zn_admin
{
	min-width: 300px;
	position: absolute;
	left: 4px;
	top: 34px;	
}

.top > .zn_path
{
	min-width: 300px;
	position: absolute;
	left: 8px;
	top: 80px;	
}

.top > .zn_button
{
	width: 60px;
	height: 66px;
	float: right;
}

.top > .zn_button > .top
{
	height: 33px;
}

.top > .zn_button > .bottom
{
	height: 33px;
}

.top > .zn_mess
{
	min-width: 300px;
	height: 28px;
	position: fixed;
	right: 10px;
	top: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f8de4c;
	padding: 4px 5px 2px 5px;
	z-index: 5;
	display: none;
}

.zn_exe
{
	min-height: 550px;
	margin: 6px 0px 0px 0px;
	border: 1px dashed #ccc;
	padding: 10px;
}