.e .module
{
	width: 270px;
	min-height: 100px;
	margin: 0px 0px 10px 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: white;
	float: left;
}

.e .module .title
{
	height: 20px;
	border-bottom: 1px solid #ccc;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	padding: 3px 0px;
	font-weight: bold;
	background: #EDFAC8;
}

.e .module .center
{
	min-height: 60px;
}

.e .module .center .image
{
	min-width: 40px;
	float: left;
	margin: 5px 0px 0px 15px;
}

.e .module .center .admin
{
	min-width: 120px;
	margin: 10px 0px 0px 50px;
}


.e .module .desc
{
	font-style: italic;
	padding: 4px 5px 4px 10px;
	font-size: 14px;
	text-align: justify;
}