# Символьные ссылки и отключение каталога от просмотра
Options +FollowSymLinks -Indexes

# Индексный файл
DirectoryIndex index.php

# Подключение mod_rewrite
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.znarus.znt$
RewriteRule ^(.*)$ http://znarus.znt/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ /index.php [NC,L]

# Запрет на исполнение php файлов
<Files "*.php">
  deny from all 
</Files>

<Files "index.php">
  allow from all
</Files>
