/* -------- Сборка -------- */
#okno_creator .entity
{
	float: left;
	margin: 10px 0px 0px 24px;
}
	
#okno_creator .entity TABLE
{
	border-collapse: collapse;
	min-width: 260px;
}

#okno_creator .entity TABLE THEAD TR
{
	text-align: center;
	border: solid 1px #c0c0c0;
	background-color: #e2eeb4;
}

#okno_creator .entity TABLE TBODY TR
{
	background-color: #fefffa;
}

#okno_creator .entity TABLE TBODY TR:hover
{
	background-color: #f9fac5;
}

#okno_creator .entity TABLE TBODY TD
{
	border: solid 1px #ccc;
}

#okno_creator .entity TABLE TBODY TD:nth-child(1)
{
	width: 150px;
	padding: 0px 0px 0px 10px;
	text-align: left;
}

#okno_creator .entity TABLE TBODY TD:nth-child(2)
{
	width: 100px;
	text-align: center;
}

/* -------- Структура ------- */
#okno_structure
{
	display: none; 
	position: relative;
}

#okno_structure #panel
{
	width: 170px; 
	position: fixed; 
	right: 10px; 
	top: 141px;
	z-index: 10;
	/*border: 1px dashed #ccc;*/
}

#okno_structure #panel .knopka
{
	position: relative;
}

#okno_structure .knopka > A
{
	position: absolute;
	top: 3px;
	left: 141px;
}

#okno_structure .okno
{
	margin: 0px 180px 0px 0px;
}

#okno_structure .okno .structure_element
{
	margin-bottom: 24px; 
}

#okno_structure .okno .structure_element TABLE.list THEAD TD
{
	font-weight: bold;
}