*
{
	font-family: "Verdana";
	font-size: 16px;
}

BODY
{
	background-color: #f8fced; 
}

DIV#div_title
{
	border: solid 1px #000000;
	text-align: center;
	padding: 5px;
}

DIV#div_exe
{
	margin-top: 10px;
/*	border: solid 1px #000000;*/
	padding: 0 10px;
	
}

DIV#div_error
{
	color: red;
	text-align: center;
	padding: 10px 0;
}

DIV#div_error_more
{
	text-align: center;
	padding: 10px 15px;
	border: 1px dashed #cccccc;
	margin: 10px 80px;
	text-align: left;
	font-size: 13px;
	font-family: monospace;
	display: none;
}

DIV#knopka_error_more
{
	display: inline-block;
}

TABLE.list TBODY TR
{
	background-color: #fefffa;
}

TABLE.list TBODY TD
{
	text-align: center;
	border: solid 1px #000000;
}

TABLE.list THEAD TH
{
	text-align: center;
	border: solid 1px #000000;
	background-color: #d5f09f;
}

A
{
	text-decoration: none;
	color: blue;
}

INPUT.knopka
{
	width: 200px;
	cursor: pointer;
}

INPUT 
{
	width: 350px;
}

TEXTAREA
{
	width: 350px;
	height: 100px;
}

TABLE.forma TD
{
/*	border: solid 1px #000000;*/
	padding: 10px 10px;
	vertical-align: top;
}

.title
{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

/*-------------------------------Верхнее меню------------------------------*/
DIV#div_menu_top
{
	border: solid 1px #000000; 
	margin-top: 2px; 
	height: 21px;
}

DIV.div_menu
{
	width: 200px; 
	border-right: 1px solid #000000; 
	float: left;
}

DIV.div_menu_title
{
	padding-left: 7px; 
	background-color: #edfac8;
	cursor: pointer;
}

DIV.div_menu_podcat
{
	width: 200px;
	border: 1px solid #000000; 
	display: block;
	position: absolute;
	margin-left: -1px;
	z-index: 2;
	background-color: #edfac8;
	display: none;
}

DIV.div_menu_punkt
{
	padding-left: 7px; 
	height: 21px; 
	overflow: hidden;
}