/*------------- Модуль «menu» -------------*/
.menu_top > a
{
	border: 1px solid #ccc;
	border-radius: 10px;
	float: left;
	margin: 0px 20px 0px 0px;
	width: 160px;
	height: 20px;
	text-align: center;
	color: #000;
	text-decoration: none;
	background: #fff;
}

.menu_top > a.active
{
	background: #f6e39f;
}

/*------------- Модуль «news» -------------*/
.news
{
	width: 500px;
	padding: 4px;
	margin: 0px 0px 10px 0px;
}

.news > .title
{
	float: left;
	margin-right: 200px;
}

.news > .title > a
{
	color: black;
}

.news > .date
{
	width: 100px;
	float:  right;
}

.news > .anons
{
	font-style: italic;
}

/*------------- Модуль «articles» -------------*/
.articles
{
	width: 500px;
	padding: 4px;
	margin: 0px 0px 10px 0px;
}

.articles > .title
{
	float: left;
	margin-right: 200px;
}

.articles > .title > a
{
	color: black;
}

.articles > .date
{
	width: 100px;
	float:  right;
}

.articles > .anons
{
	font-style: italic;
}

/*------------- Модуль «feedback» -------------*/
.feedback
{
	width: 500px;
}

.feedback input[type=text], textarea
{
	border: 1px solid #ccc;
	border-radius: 4px;
}

.feedback input.error_input, textarea.error_input
{
	border: 1px solid red;
}

.feedback div.error_text
{
	color: red;
	font-size: 80%;
	padding: 0px 0px 0px 6px;
}

.feedback input[type=submit]
{
	width: 120px;
	margin: 10px auto 0px auto;
	display: block;
}

/*------------- Модуль «faq» -------------*/
.faq > .question
{
	margin: 0px 0px 0px 10px;
	font-weight: bold;
}

.faq > .answer
{
	margin: 0px 0px 20px 10px;
}

/*------------ Модуль «slider» ------------*/
/* Слайдер */
.slider
{
	width: 300px;
	height: 150px;
	margin: 50px auto 10px auto;
	position: relative;
	overflow: hidden;
}

.slider > .all
{
	position: relative;
	height: 150px;
}

.slider > .all > div
{
	width: 300px;
	height: 150px;
	float: left;
}

/* Кнопки */
.slider_button
{
	margin: 10px auto;
}

.slider_button > div
{
	width: 20px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0px 0px 0px 10px;
	text-align: center;
	cursor: pointer;
}

.slider_button > div:first-child
{
	margin: 0px 0px 0px 0px;
}

.slider_button > div.active
{
	background: #ccc;
}